<footer style="background-color: #333; color: white; text-align: center; padding: 20px; margin:0px">
    <p>&copy; Copyritgh 2025</p>

    <p>
        <a href="/privacidade" style="color: #ccc;">Política de Privacidade</a> |
        <a href="/termos" style="color: #ccc;">Termos de Uso</a>
    </p>

</footer>