<div class="navbar"
    style="background-color: #333; display: flex; justify-content: center; align-items: center;margin:0; padding:0">

    <a href="#index" style="color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Início</a>


    <a href="#login" style="color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Login</a>

    <a href="#cadastro"
        style="color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Cadastro</a>

</div>